extends layout

block content
  #main.uk-container.uk-container-center
      nav.uk-navbar.uk-margin-large-bottom
        a.uk-navbar-brand.uk-hidden-small(href='layouts_frontpage.html')
          img(src='/assets/img/logo.png')
        ul.uk-navbar-nav.uk-hidden-small.uk-navbar-center
          li
            a.app-menu(href='layouts_frontpage.html')
              img(src='/assets/img/blue/home.png', alt='Главная', title='Главная')
              span.app-menu-text ГЛАВНАЯ
          li
            a.app-menu(href='layouts_portfolio.html')
              img(src='/assets/img/blue/help.png', alt='как начать играть?', title='как начать играть?')
              span.app-menu-text КАК ИГРАТЬ ?
          li
            a.app-menu(href='layouts_frontpage.html')
              img(src='/assets/img/blue/winners.png', alt='Победители', title='Победители')
              span.app-menu-text ПОБЕДИТЕЛИ
          li
            a.app-menu(href='layouts_frontpage.html')
              img(src='/assets/img/blue/history.png', alt='История', title='История')
              span.app-menu-text ИСТОРИЯ
          li
            a.app-menu(href='layouts_frontpage.html')
              img(src='/assets/img/blue/fair-play.png', alt='Чесная игра', title='Чесная игра')
              span.app-menu-text ЧЕСНАЯ ИГРА
          li
            a.app-menu(href='layouts_portfolio.html')
              img(src='/assets/img/blue/support.png', alt='Поддержка', title='Поддержка')
              span.app-menu-text ПОДДЕРЖКА
        ul.uk-navbar-nav.uk-hidden-small.uk-float-right
          if user
            if user.provider == 'steam'
              li.app-login-success
                img(src='#{user.photo}', data-uk-offcanvas="{target:'#offcanvas-profile'}", data-uk-tooltip='', title='#{user.name}')
            else
              li.app-login-success
                img(src='#{user.photo}', data-uk-offcanvas="{target:'#offcanvas-profile'}", data-uk-tooltip='', title='#{user.name}')
          else
            li.app-login(data-uk-dropdown="{mode:'click'}", aria-haspopup='true', aria-expanded='false')
              a.app-menu(href='#')
                img(src='/assets/img/blue/login.png', alt='ВХОД', title='ВХОД')
                span.app-menu-text ВХОД
              .uk-dropdown.uk-dropdown-navbar.app-login-dropdown.uk-dropdown-bottom
                ul.uk-sortable.uk-grid.uk-grid-small.uk-grid-width-1-4
                  li
                    a.uk-panel.app-dropdown-icon(href='/auth/steam', data-uk-tooltip='', title='Вход через Steam')
                      img(alt='Steam', title='Steam', src='/assets/img/steam.png')
                  li
                    a.uk-panel.app-dropdown-icon(href='/auth/vk', data-uk-tooltip='', title='Вход через Вконтакте')
                      img(alt='ВКонтакте', title='Вконтакте', src='/assets/img/vk.png')
                  li
                    a.uk-panel.app-dropdown-icon(href='/auth/facebook', data-uk-tooltip='', title='Вход через Facebook')
                      img(alt='Facebook', title='Facebook', src='/assets/img/fb.png')
                  li
                    a.uk-panel.app-dropdown-icon(href='/auth/google', data-uk-tooltip='', title='Вход через Google')
                      img(alt='Google', title='Google', src='/assets/img/google.png')
        a.uk-navbar-toggle.uk-visible-small(href='#offcanvas', data-uk-offcanvas='')
        .uk-navbar-brand.uk-navbar-center.uk-visible-small Brand
      #game-tab.uk-grid.uk-grid-collapse.uk-margin-large-bottom(data-uk-grid-margin='')
        .uk-width-medium-1-3.uk-row-first
          .app-game-tab.app-csgo-tab.app-game-tab-active
        .uk-width-medium-1-3
          .app-game-tab.app-dota-tab
        .uk-width-medium-1-3
          .app-game-tab.app-gift-tab
      - var n = 0
      #view.ul.uk-grid.uk-grid-medium.uk-grid-match.uk-grid-width-small-1-2.uk-grid-width-large-1-3.uk-grid-width-xlarge-1-4(data-uk-grid-margin='')
        while n < 10
          li.uk-row-first
            .uk-panel.uk-panel-box.uk-text-center.app-panel-box
              .uk-panel-teaser.uk-position-relative
                .app-panel-background-contain.uk-position-cover(style="background-image: url(http://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KU0Zwwo4NUX4oFJZEHLbXH5ApeO4YmlhxYQknCRvCo04DEVlxkKgpot7HxfDhjxszYeDNR-M6_hIW0lvygZITck29Y_chOhujT8om72gK2qUJoNmCiJYDHJFA8ZFHW8lS8xrzog5C7vMvOyyM1unMl4X7bygv3308LPTeH-g/360fx360f), url('/assets/img/shadow.png'); background-color: #202931;")
                canvas.uk-responsive-width.uk-display-block(width='800', height='550')
              .uk-text-nowrap.uk-text-truncate
                ul.uk-list.uk-list-line.ul-float-left.app-item-desc
                  li 1
                  li 2
                  li 3
                  dl.uk-description-list-horizontal.app-item-price
                    dt Цена в Steam
                    dd 1200р
                  .uk-progress.uk-progress-small.uk-progress-striped.uk-active
                    .uk-progress-bar.app-item-progress(style='width: 40%;') 40%
                  a.uk-button.uk-button-primary.uk-width-1-1.uk-margin-small-bottom(href='#') ПРИНЯТЬ УЧАСТИЕ ЗА 30 РУБ
              .app-game-place 130 мест
              .app-game-price 15 РУБ
          - n++
      #footer.uk-margin-large-top
        .uk-container.uk-container-center
          h1.uk-text-center НАШИ ПРОЕКТЫ
          .uk-grid(data-uk-grid-margin='')
            .uk-width-1-2.uk-width-medium-1-3.uk-width-large-1-6
              figure.uk-overlay.uk-overlay-hover
                img(width='350', height='150', src='', alt='')
                figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-fade.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
                  div Client Name
                a.uk-position-cover(href='#')
            .uk-width-1-2.uk-width-medium-1-3.uk-width-large-1-6
              figure.uk-overlay.uk-overlay-hover
                img(width='350', height='150', src='', alt='')
                figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-fade.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
                  div Client Name
                a.uk-position-cover(href='#')
            .uk-width-1-2.uk-width-medium-1-3.uk-width-large-1-6
              figure.uk-overlay.uk-overlay-hover
                img(width='350', height='150', src='', alt='')
                figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-fade.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
                  div Client Name
                a.uk-position-cover(href='#')
            .uk-width-1-2.uk-width-medium-1-3.uk-width-large-1-6
              figure.uk-overlay.uk-overlay-hover
                img(width='350', height='150', src='', alt='')
                figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-fade.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
                  div Client Name
                a.uk-position-cover(href='#')
            .uk-width-1-2.uk-width-medium-1-3.uk-width-large-1-6
              figure.uk-overlay.uk-overlay-hover
                img(width='350', height='150', src='', alt='')
                figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-fade.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
                  div Client Name
                a.uk-position-cover(href='#')
            .uk-width-1-2.uk-width-medium-1-3.uk-width-large-1-6
              figure.uk-overlay.uk-overlay-hover
                img(width='350', height='150', src='', alt='')
                figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-fade.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center
                  div Client Name
                a.uk-position-cover(href='#')
  #offcanvas.uk-offcanvas
      .uk-offcanvas-bar
        ul.uk-nav.uk-nav-offcanvas
          li.uk-active
            a(href='/') ГЛАВНАЯ
          li
            a(href='/#help') КАК ИГРАТЬ ?
          li
            a(href='/#winners') ПОБЕДИТЕЛИ
          li
            a(href='/#history') ИСТОРИЯ
          li
            a(href='/#fail-play') ЧЕСНАЯ ИГРА
          li
            a(href='/#support') ПОДДЕРЖКА

  if user
    #offcanvas-profile.uk-offcanvas
      .uk-offcanvas-bar.uk-offcanvas-bar-flip
        ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon(data-uk-nav='')
          li.uk-nav-header Профиль
          li
            .uk-grid.uk-grid-collapse(data-uk-grid-margin='')
              .uk-width-medium-1-3.uk-row-first
                .app-profile-avatar
                  if user
                    if user.provider == 'steam'
                        img(src='#{user.photo}', data-uk-offcanvas="{target:'#offcanvas-profile'}", data-uk-tooltip='', title='#{user.name}')
                    else
                        img(src='#{user.photo}', data-uk-offcanvas="{target:'#offcanvas-profile'}", data-uk-tooltip='', title='#{user.name}')
              .uk-width-medium-1-3
                .app-profile-balance
                  | НА СЧЕТУ
                  br
                  | #{user.balance} &#8381;
              .uk-width-medium-1-3
                .app-profile-bonus
                  | БАЛЫ
                  br
                  | #{user.bonus}
          li.uk-nav-divider 
          li(style='margin-top: 15px; margin-bottom: 15px;')
            div(style='margin-right: 15px; margin-left: 15px;')
              form.uk-form#payment(name='payment', method='post', action='https://sci.interkassa.com/', enctype='utf-8')
                .uk-grid.uk-grid-collapse
                  .uk-width-1-2
                    input.uk-width-1-1.app-balance-input(type='text', name='ik_am', placeholder='введите сумм')
                    input(type='hidden', name='ik_co_id', value='56f90aa93d1eaf2c798b456b')
                    input#payment-number(type='hidden', name='ik_pm_no', value='')
                    input(type='hidden', name='ik_cur', value='RUB')
                    input(type='hidden', name='ik_desc', value='Пополнение баланса на прощадке GAME GIFT')
                    input#payment-expire(type='hidden', name='ik_exp', value='')
                    input(type='hidden', name='ik_x_username', value='#{user.name}')
                    input(type='hidden', name='ik_x_provider', value='#{user.provider}')
                    input(type='hidden', name='ik_x_url', value='#{user.url}')
                  .uk-width-1-2
                    input.uk-button.uk-button-primary.uk-width-1-1(type='submit', placeholder='', value='ПОПОЛНИТЬ')
          li(style='margin-bottom: 15px;')
            div(style='margin-right: 15px; margin-left: 15px;')
              form.uk-form
                .uk-grid.uk-grid-collapse
                  .uk-width-3-4
                    input.uk-width-1-1.app-balance-input(type='text', placeholder='введите ссылку')
                  .uk-width-1-4
                    a.uk-button.uk-button-primary.uk-width-1-1.app-trade-check(href='#')
                          i.uk-icon-check
          //- li.uk-nav-divider
          //- li.uk-parent
          //-   a(href='#') CСЫЛКА НА ОБМЕН
          //-   ul.uk-nav-sub
          //-     li
          //-       div(style='margin-right: 15px;')
          //-         form.uk-form
          //-           .uk-grid.uk-grid-collapse
          //-             .uk-width-3-4
          //-               input.uk-width-1-1.app-balance-input(type='text', placeholder='введите ссылку')
          //-             .uk-width-1-4
          //-               a.uk-button.uk-button-primary.uk-width-1-1.app-trade-check(href='#')
          //-                 i.uk-icon-check
          li(class='uk-text-center')
            a(href='/logout')
              i.uk-icon-power-off
              |  Выход