doctype html
html(lang='ru-ru', dir='ltr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title  
    link(rel='shortcut icon', href='/assets/img/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon-precomposed', href='/assets/img/apple-touch-icon.png')
    link(rel='stylesheet', href='/assets/uikit-2.25.0/css/uikit.min.css')
    link(rel='stylesheet', href='/assets/app.css')
    script(src='/assets/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/locale/ru.js')
    script(src='/assets/app.js')
    script(src='/assets/uikit-2.25.0/js/uikit.min.js')
    script(src='/assets/uikit-2.25.0/js/components/tooltip.min.js')
    link(rel='stylesheet', href='/assets/uikit-2.25.0/css/components/tooltip.css')
    link(rel='stylesheet', href='/assets/uikit-2.25.0/css/components/progress.css')
  body
    block content
