extends layout

block content
	form(action='https://api.random.org/verify', method='post', target='_blank', style='display: inline;')
		input(type='hidden', name='format', value='json')
		input(type='hidden', name='random', value='{"method":"#{data.method}","hashedApiKey":"#{data.hashedApiKey}","n":#{data.n},"min":#{data.min},"max":#{data.max},"replacement":#{data.replacement},"base":#{data.base},"data":[#{data.data}],"completionTime":"#{data.completionTime}","serialNumber":#{data.serialNumber}}')
		input(type='hidden', name='signature', value='#{signature}')
		button.fairplaycheck проверить