body {
    background: url(img/csgobg.png) fixed top center;
    background-repeat: no-repeat;
    background-color: #343f4b;
}

.uk-navbar {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.uk-navbar-nav>li>a {
	padding: 10px;
    height: 100px;
    color: #fff;
    line-height: 80px;
}
.uk-navbar-nav>li>a:hover,
.uk-navbar-nav>li>a:focus,
.uk-navbar-nav>li>a:active,
.uk-navbar-nav>li.uk-active>a {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}
.uk-navbar-brand {
    line-height: 100px;
}
@media (min-width: 1220px){
	.uk-navbar-center {
    	max-width: 60%;
	}
}
.uk-list-line>li:nth-child(n+2) {
	border-top: 1px solid #343a41;
}
/*.uk-list-line>li:last-child {
	border-bottom: 1px solid #343a41;
}*/
.app-menu img{
	margin: 0 auto;
    display: block;
    height: 60px;
}
.app-menu span{
	display: block;
	margin: none;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
}

.app-login-dropdown {
	width: 250px;
	background: rgba(0, 0, 0, 0.9);
}
.app-login{
	padding-right: 10px;
}
.app-login-success{
	padding: 10px;
}
.app-login-success img{
	height: 80px;
}
.app-game-tab{
	background: rgba(0, 0, 0, 0.6);
	height: 100px;
}
.app-game-tab:hover{
	background-color: rgba(86, 101, 110, 0.56);
}
.app-game-tab-active{
	height: 98px;
	border-bottom: 2px solid #FF6841;
}
.app-csgo-tab {
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url(../assets/img/csgo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.app-lottery-winner:after{
	content: '';
    background: url(../assets/img/win.png) left no-repeat;
    background-size: contain;
    height: 232px;
    width: 197px;
    margin-top: 10px;
    position: absolute;
    top: 0px;
}
.app-dota-tab {
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url(../assets/img/dota.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px;
}
.app-gift-tab {
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url(../assets/img/gifts.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70px;
/*	background-size: contain;*/
}
.app-panel-box{
	background: #1f262e;
	position: relative;
/*	border: 1px solid rgba(82, 92, 101, 0.25);
    background-color: rgba(36, 44, 50, 0.61);*/
}
.app-panel-background-contain{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.app-item-desc li {
	text-align: left;
}
.app-item-progress {
	line-height: 13px;
}
.app-dropdown-icon img{
	display: block;
	margin: 0 auto;
}
.app-item-price {
	color: #fff;
	font-weight: 100;
}
.app-item-price dt{
	text-align: left;
}
.app-game-price{
	background: url('../assets/img/ticket.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	height: 30px;
	width: 82px;
	text-transform: uppercase;
	line-height: 29px;
	color: #444;
	font-size: 12px;
	top: 15px;
    right: 15px
}
.app-game-place{
	background: url('../assets/img/place.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	height: 30px;
	width: 82px;
	text-transform: uppercase;
	line-height: 29px;
	color: #444;
	font-size: 12px;
	top: 15px;
    left: 15px
}
.app-lottery-content{
	background: rgba(44, 50, 64, 0.74);
	min-height: 463px;
	padding: 5px;
}
.app-lottery{
	background: url('../assets/img/blur-layer.png') no-repeat;
    background-size: cover;
}
.app-lottery-panel-box{
	position: relative;
	background-color: rgba(31, 38, 46, 0.33);
    box-shadow: inset -12px 0px 45px 0px rgba(0, 0, 0, 0.3);
    min-height: 433px;
}
.app-lottery-progress{
	position: relative;
	height: 60px;
}
.app-lottery-progress .uk-progress{
	height: 60px;
	background-color: #404851;
/*	border-bottom: 1px solid #222;*/
	border-bottom: 1px solid #00a8e6;

}
.app-lottery-progress .uk-progress .uk-progress-bar {
	
}
.app-lottery-text-info dl{
	padding: 0px 15px 0px 15px;
	color: #fff;]
	font-weight: 100px;
}
.app-lottery-text-info h3{
	margin: 0px;
	color: #fff;
	font-weight: 100px;
	padding: 5px;
	background: rgba(57, 66, 78, 1); 
	box-shadow: inset -12px 0px 45px 0px rgba(0, 0, 0, 0.3);
}
.app-lottery-progress-busy{
	text-align: left;
	height: inherit;
	padding-left: 15px;
}
.app-lottery-progress-busy span{
	line-height: 60px;
	font-size: 32px;
}
.app-lottery-progress-busy span,
.app-lottery-progress-busy p{
	float: left;
}
.app-lottery-progress-busy p{
	font-size: 22px;
}
.app-lottery-progress-free{
	position: absolute;
	text-align: left;
	height: inherit;
	padding-right: 15px;
	right: 0px;
	top: 0px;
}
.app-lottery-progress-free{
	color: #fff;
	line-height: 60px;
	font-size: 32px;
}
.app-lottery-text-info dl dt:not(:first-child){
	    border-top: 1px solid #343a41;
}
.app-lottery-intro {
    padding: 10px;
}
.app-lottery-lot {
    background: #303642;
    padding: 10px;
    margin: 10px;
    border: 1px solid #464E61;
}
.app-lottery-log {
    background: #303642;
    padding: 10px;
    margin: 10px;
    border: 1px solid #464E61;
}
.app-lottery-winner{
	padding: 10px;
/*    background: url(../assets/img/winner4.png) center no-repeat;
    background-size: contain;*/
    height: 232px;
    margin: 0 auto;
    position: relative;
}
.app-grid:after {
	content: "";
	display: table;
	clear: both;
}
.app-1-20{
	width: 5%;
}
@media (min-width: 1220px){
	.app-1-20{
		width: 5%;
	}
}
@media (min-width: 768px){
	.app-1-20{
		width: 5%;
	}
}
@media (max-width: 400px){
	.app-1-20{
		width: 10%;
	}
}
[class*='app-1-'] {
  float: left;
}
.app-lottery-number {
	float: left;
	width: 32px !important;
    height: 32px !important;
    position: relative;
    cursor: pointer;
    background-color: #3A4B58;
    border: 1px dashed #6B7C8A;
    color: #fff;
    margin: 2.3px;
    line-height: 34px;
    text-align: center;
}
.app-lottery-number-winner{
    font-size: 16px;
    margin-left: 4px;
    color: #FFF400;
    border: 1px dashed;
    padding: 1px 5px 1px 5px;
}
.app-lottery-number:hover {
    display: block;
    background-color: #00a8e6;
    border: 1px dashed #A4FBCE;
}
i.app-icon-white{
	color: #848a9c;
}
.app-lottery-log-text{
	color: #848a9c;
}
.app-lottery-epilogue .app-m10l{
	color: #fff;
	font-size: 18px;
    line-height: 30px;
}
.app-lottery-winner-block img{
	display: block;
	margin: 0 auto;
	height: 180px;
    margin-top: 32px;
    border: 3px solid rgba(113, 121, 128, 0.7);
}
.app-lottery-winner-block img:hover{
/*    border: 3px dashed rgba(255, 244, 0, 0.7);*/
    border: 2px dashed rgba(113, 121, 128, 0.7);
}
.app-lottery-check img{
	margin-left: 10px;
}
.app-lottery-epilogue{
	background: #303642;
    padding: 10px;
    margin: 10px;
    border: 1px solid #464E61;
}
.app-lottery-winner-text p {
	color: #fff;
	font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}
.app-lottery-winner-text a:not(.app-lottery-check){
	text-transform: uppercase;
	color: #FF6841;
	text-decoration: underline;
}
.app-lottery-winner-text h3 {
	color: #fff;
	font-weight: 100px;
	margin-bottom: 0px;
}
.app-m10l{
	margin-left: 10px;
}
.app-m10r{
	margin-right: 10px;
}
.app-profile-avatar{
	height: 60px;
	margin-left: 15px;
	border-right: 1px solid #1a1a1a;
}
.app-profile-avatar img{
	height: 60px;
}
.app-profile-balance{
	border-right: 1px solid #1a1a1a;
}
.app-profile-balance,
.app-profile-bonus{
	height: 60px;
	line-height: 30px;
	color: #fff;
	text-align: center;
}
form.uk-form .app-balance-input{
	background: #444;
    border-color: #555;
}
form.uk-form .uk-button{
	color: #fff;
}
a.app-trade-check{
	height: 26px;
}
#game-tab{
	border-top: 2px solid #76cfe2;
}
#footer{
	background: rgba(0, 0, 0, 0.6);	
	padding-top: 15px;
}